Repository powsybl/powsybl-diagram, pull requests merged in 2022-11, with the labels that each got.

#426 Format displayed values based on LayoutParameters
  single-line-diagram-core/src/main/java/com/powsybl/sld/layout/LayoutParameters.java
  single-line-diagram-core/src/main/java/com/powsybl/sld/svg/AbstractDiagramLabelProvider.java
  single-line-diagram-core/src/main/java/com/powsybl/sld/svg/DefaultDiagramLabelProvider.java
  single-line-diagram-core/src/main/java/com/powsybl/sld/svg/DefaultSVGWriter.java
  single-line-diagram-core/src/main/java/com/powsybl/sld/svg/DirectionalFeederInfo.java
  single-line-diagram-core/src/main/java/com/powsybl/sld/svg/ValueFormatter.java
  single-line-diagram-core/src/test/java/com/powsybl/sld/iidm/TestCase14UpToNFeederInfos.java
  single-line-diagram-core/src/test/java/com/powsybl/sld/layout/LayoutParametersTest.java
  single-line-diagram-core/src/test/resources/InternalBranchesBusBreaker.svg
  single-line-diagram-core/src/test/resources/InternalBranchesNodeBreaker.svg
  single-line-diagram-core/src/test/resources/NodeDecoratorsBranchStatusBusBreaker.svg
  single-line-diagram-core/src/test/resources/NodeDecoratorsBranchStatusNodeBreaker.svg
  single-line-diagram-core/src/test/resources/NodeDecoratorsSwitches.svg
  single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHFirst.svg
  single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHLast.svg
  single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHMiddle.svg
  single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHNone.svg
  single-line-diagram-core/src/test/resources/TestCase12GraphWithNodesInfosNominalVoltage.svg
  single-line-diagram-core/src/test/resources/TestCase12GraphWithNodesInfosTopological.svg
  single-line-diagram-core/src/test/resources/TestCase14UpToNFeederInfos.svg
  single-line-diagram-core/src/test/resources/TestCase15GraphWithVoltageIndicator.svg
  single-line-diagram-core/src/test/resources/TestCase15GraphWithVoltageIndicatorTopological.svg
  single-line-diagram-core/src/test/resources/TestCase15GraphWithoutVoltageIndicator.svg
  single-line-diagram-core/src/test/resources/TestCaseFictitiousBus.svg
  single-line-diagram-core/src/test/resources/TestCaseFictitiousBusTopological.svg
  single-line-diagram-core/src/test/resources/TestCaseLoadBreakSwitch.svg
  single-line-diagram-core/src/test/resources/TestSldClassSubstation.svg
  single-line-diagram-core/src/test/resources/TestSldClassSubstationMetadata.json
  single-line-diagram-core/src/test/resources/TestSldClassVl.svg
  single-line-diagram-core/src/test/resources/TestSldClassVlMetadata.json
  single-line-diagram-core/src/test/resources/consecutive_shunts.svg
  single-line-diagram-core/src/test/resources/feederInfoTest.svg
  single-line-diagram-core/src/test/resources/noComponentsOnBus.svg
  single-line-diagram-core/src/test/resources/substDiag_metadata.json
  single-line-diagram-core/src/test/resources/switchesOnBus.svg
  single-line-diagram-core/src/test/resources/topological_style_substation.svg
  single-line-diagram-core/src/test/resources/vlDiag_metadata.json
Labels: Breaking change

#449 Add phase-shifter transformer arrow
  network-area-diagram/src/main/java/com/powsybl/nad/build/iidm/NetworkGraphBuilder.java
  network-area-diagram/src/main/java/com/powsybl/nad/model/BranchEdge.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/DefaultEdgeRendering.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/StyleProvider.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/SvgParameters.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/SvgWriter.java
  network-area-diagram/src/main/resources/nominalStyle.css
  network-area-diagram/src/main/resources/topologicalStyle.css
  network-area-diagram/src/test/java/com/powsybl/nad/svg/SvgParametersTest.java
  network-area-diagram/src/test/resources/3wt.svg
  network-area-diagram/src/test/resources/3wt_disconnected.svg
  network-area-diagram/src/test/resources/3wt_disconnected_topological.svg
  network-area-diagram/src/test/resources/3wt_partial.svg
  network-area-diagram/src/test/resources/IEEE_118_bus.svg
  network-area-diagram/src/test/resources/IEEE_118_bus_partial.svg
  network-area-diagram/src/test/resources/IEEE_118_bus_partial_non_connected.svg
  network-area-diagram/src/test/resources/IEEE_14_bus.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_disconnection.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_fictitious.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_text_nodes.svg
  network-area-diagram/src/test/resources/IEEE_14_id_prefixed.svg
  network-area-diagram/src/test/resources/IEEE_24_bus.svg
  network-area-diagram/src/test/resources/IEEE_30_bus.svg
  network-area-diagram/src/test/resources/IEEE_57_bus.svg
  network-area-diagram/src/test/resources/current_limits.svg
  network-area-diagram/src/test/resources/detailed_text_node.svg
  network-area-diagram/src/test/resources/detailed_text_node_no_legend.svg
  network-area-diagram/src/test/resources/diamond-spring-repulsion-factor-0.0.svg
  network-area-diagram/src/test/resources/diamond-spring-repulsion-factor-0.2.svg
  network-area-diagram/src/test/resources/edge_info_double_labels.svg
  network-area-diagram/src/test/resources/edge_info_missing_label.svg
  network-area-diagram/src/test/resources/edge_info_perpendicular_label.svg
  network-area-diagram/src/test/resources/edge_info_shift.svg
  network-area-diagram/src/test/resources/hvdc-vl-depth-1.svg
  network-area-diagram/src/test/resources/hvdc.svg
  network-area-diagram/src/test/resources/parallel_transformers.svg
  network-area-diagram/src/test/resources/simple-eu-loop100.svg
  network-area-diagram/src/test/resources/simple-eu-loop80.svg
  network-area-diagram/src/test/resources/simple-eu.svg
  network-area-diagram/src/test/resources/vl_description_id.svg
  network-area-diagram/src/test/resources/vl_description_substation.svg
  network-area-diagram/src/test/resources/vl_description_substation_id.svg
  network-area-diagram/src/test/resources/voltage_limits.svg
Labels: Breaking change, NAD

#429 Network Area Diagrams: add initial positions to metadata
  network-area-diagram/src/main/java/com/powsybl/nad/svg/GraphMetadata.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/SvgWriter.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/metadata/AbstractMetadataItem.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/metadata/DiagramMetadata.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/metadata/EdgeMetadata.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/metadata/NodeMetadata.java
  network-area-diagram/src/main/resources/nad-metadata_V1_0.xsd
  network-area-diagram/src/main/resources/nad_V1_0.xsd
  network-area-diagram/src/test/java/com/powsybl/nad/svg/DiagramMetadataTest.java
  network-area-diagram/src/test/resources/3wt.svg
  network-area-diagram/src/test/resources/3wt_disconnected.svg
  network-area-diagram/src/test/resources/3wt_disconnected_topological.svg
  network-area-diagram/src/test/resources/3wt_partial.svg
  network-area-diagram/src/test/resources/IEEE_118_bus.svg
  network-area-diagram/src/test/resources/IEEE_118_bus_partial.svg
  network-area-diagram/src/test/resources/IEEE_118_bus_partial_non_connected.svg
  network-area-diagram/src/test/resources/IEEE_14_bus.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_disconnection.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_fictitious.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_text_nodes.svg
  network-area-diagram/src/test/resources/IEEE_14_id_prefixed.svg
  network-area-diagram/src/test/resources/IEEE_24_bus.svg
  network-area-diagram/src/test/resources/IEEE_30_bus.svg
  network-area-diagram/src/test/resources/IEEE_57_bus.svg
  network-area-diagram/src/test/resources/current_limits.svg
  network-area-diagram/src/test/resources/detailed_text_node.svg
  network-area-diagram/src/test/resources/detailed_text_node_no_legend.svg
  network-area-diagram/src/test/resources/diamond-spring-repulsion-factor-0.0.svg
  network-area-diagram/src/test/resources/diamond-spring-repulsion-factor-0.2.svg
  network-area-diagram/src/test/resources/edge_info_double_labels.svg
  network-area-diagram/src/test/resources/edge_info_missing_label.svg
  network-area-diagram/src/test/resources/edge_info_perpendicular_label.svg
  network-area-diagram/src/test/resources/edge_info_shift.svg
  network-area-diagram/src/test/resources/hvdc-vl-depth-1.svg
  network-area-diagram/src/test/resources/hvdc.svg
  network-area-diagram/src/test/resources/parallel_transformers.svg
  network-area-diagram/src/test/resources/simple-eu-loop100.svg
  network-area-diagram/src/test/resources/simple-eu-loop80.svg
  network-area-diagram/src/test/resources/simple-eu.svg
  network-area-diagram/src/test/resources/vl_description_id.svg
  network-area-diagram/src/test/resources/vl_description_substation.svg
  network-area-diagram/src/test/resources/vl_description_substation_id.svg
  network-area-diagram/src/test/resources/voltage_limits.svg
Labels: NAD

#451 Open AbstractDiagramLabelProvider SPI
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/svg/AbstractDiagramLabelProvider.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/svg/DefaultDiagramLabelProvider.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/util/NominalVoltageStyleTest.java
Labels: SLD

#452 [nad] Improve diagram metadata
  network-area-diagram/src/main/java/com/powsybl/nad/svg/SvgWriter.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/metadata/AbstractMetadataItem.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/metadata/BusNodeMetadata.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/metadata/DiagramMetadata.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/metadata/EdgeMetadata.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/metadata/NodeMetadata.java
  network-area-diagram/src/main/resources/nad-metadata_V1_0.xsd
  network-area-diagram/src/test/resources/3wt.svg
  network-area-diagram/src/test/resources/3wt_disconnected.svg
  network-area-diagram/src/test/resources/3wt_disconnected_topological.svg
  network-area-diagram/src/test/resources/3wt_partial.svg
  network-area-diagram/src/test/resources/IEEE_118_bus.svg
  network-area-diagram/src/test/resources/IEEE_118_bus_partial.svg
  network-area-diagram/src/test/resources/IEEE_118_bus_partial_non_connected.svg
  network-area-diagram/src/test/resources/IEEE_14_bus.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_disconnection.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_fictitious.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_text_nodes.svg
  network-area-diagram/src/test/resources/IEEE_14_id_prefixed.svg
  network-area-diagram/src/test/resources/IEEE_24_bus.svg
  network-area-diagram/src/test/resources/IEEE_30_bus.svg
  network-area-diagram/src/test/resources/IEEE_57_bus.svg
  network-area-diagram/src/test/resources/current_limits.svg
  network-area-diagram/src/test/resources/detailed_text_node.svg
  network-area-diagram/src/test/resources/detailed_text_node_no_legend.svg
  network-area-diagram/src/test/resources/diamond-spring-repulsion-factor-0.0.svg
  network-area-diagram/src/test/resources/diamond-spring-repulsion-factor-0.2.svg
  network-area-diagram/src/test/resources/edge_info_double_labels.svg
  network-area-diagram/src/test/resources/edge_info_missing_label.svg
  network-area-diagram/src/test/resources/edge_info_perpendicular_label.svg
  network-area-diagram/src/test/resources/edge_info_shift.svg
  network-area-diagram/src/test/resources/hvdc-vl-depth-1.svg
  network-area-diagram/src/test/resources/hvdc.svg
  network-area-diagram/src/test/resources/parallel_transformers.svg
  network-area-diagram/src/test/resources/simple-eu-loop100.svg
  network-area-diagram/src/test/resources/simple-eu-loop80.svg
  network-area-diagram/src/test/resources/simple-eu.svg
  network-area-diagram/src/test/resources/vl_description_id.svg
  network-area-diagram/src/test/resources/vl_description_substation.svg
  network-area-diagram/src/test/resources/vl_description_substation_id.svg
  network-area-diagram/src/test/resources/voltage_limits.svg
Labels: NAD

#448 Add metadata to enable moving nodes
  network-area-diagram/src/main/java/com/powsybl/nad/model/BranchEdge.java
  network-area-diagram/src/main/java/com/powsybl/nad/model/Graph.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/SvgWriter.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/metadata/DiagramMetadata.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/metadata/EdgeMetadata.java
  network-area-diagram/src/test/resources/3wt.svg
  network-area-diagram/src/test/resources/3wt_disconnected.svg
  network-area-diagram/src/test/resources/3wt_disconnected_topological.svg
  network-area-diagram/src/test/resources/3wt_partial.svg
  network-area-diagram/src/test/resources/IEEE_118_bus.svg
  network-area-diagram/src/test/resources/IEEE_118_bus_partial.svg
  network-area-diagram/src/test/resources/IEEE_118_bus_partial_non_connected.svg
  network-area-diagram/src/test/resources/IEEE_14_bus.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_disconnection.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_fictitious.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_text_nodes.svg
  network-area-diagram/src/test/resources/IEEE_14_id_prefixed.svg
  network-area-diagram/src/test/resources/IEEE_24_bus.svg
  network-area-diagram/src/test/resources/IEEE_30_bus.svg
  network-area-diagram/src/test/resources/IEEE_57_bus.svg
  network-area-diagram/src/test/resources/current_limits.svg
  network-area-diagram/src/test/resources/detailed_text_node.svg
  network-area-diagram/src/test/resources/detailed_text_node_no_legend.svg
  network-area-diagram/src/test/resources/diamond-spring-repulsion-factor-0.0.svg
  network-area-diagram/src/test/resources/diamond-spring-repulsion-factor-0.2.svg
  network-area-diagram/src/test/resources/edge_info_double_labels.svg
  network-area-diagram/src/test/resources/edge_info_missing_label.svg
  network-area-diagram/src/test/resources/edge_info_perpendicular_label.svg
  network-area-diagram/src/test/resources/edge_info_shift.svg
  network-area-diagram/src/test/resources/hvdc-vl-depth-1.svg
  network-area-diagram/src/test/resources/hvdc.svg
  network-area-diagram/src/test/resources/parallel_transformers.svg
  network-area-diagram/src/test/resources/simple-eu-loop100.svg
  network-area-diagram/src/test/resources/simple-eu-loop80.svg
  network-area-diagram/src/test/resources/simple-eu.svg
  network-area-diagram/src/test/resources/vl_description_id.svg
  network-area-diagram/src/test/resources/vl_description_substation.svg
  network-area-diagram/src/test/resources/vl_description_substation_id.svg
  network-area-diagram/src/test/resources/voltage_limits.svg
Labels: NAD
