Repository powsybl/powsybl-diagram, pull requests merged in 2023-08, with the labels that each got.

#544 LCC & VSC : add escaped id in metadata
  diagram-test/src/main/java/com/powsybl/diagram/test/Networks.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/svg/DefaultSVGWriter.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/svg/GraphMetadata.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/iidm/TestCase11SubstationGraph.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/svg/GraphMetadataTest.java
  single-line-diagram/single-line-diagram-core/src/test/resources/substDiag_with_hvdc_line_metadata.json
Labels: Feature, SLD

#543 Revert issue 535
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/builders/SubstationRawBuilder.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/raw/TestCase11SubstationGraph.java
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHRaw.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHRaw2.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHRaw2With2wts.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHRaw2With3wts.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHRaw2WithLines.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphVRaw.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphVRaw2.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphVRaw2With2wts.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphVRaw2With3wts.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphVRaw2WithLines.json
Labels: SLD

#546 Delete fixSvg function since migrating to Java 17
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/AbstractTestCase.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/iidm/TestSingleLineDiagramClass.java
Labels: Refactoring, SLD
