Repository powsybl/powsybl-diagram, pull requests merged in 2023-12, with the labels that each got.

#562 Allow PositionVoltageLevelLayoutFactory parametrization
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/layout/PositionVoltageLevelLayoutFactory.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/layout/PositionVoltageLevelLayoutFactoryParameters.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/layout/VoltageLevelLayoutFactoryCreator.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/iidm/TestCase15GraphWithVoltageIndicator.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/iidm/TestCaseGraphAdaptCellHeightToContent.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/layout/PositionVoltageLevelLayoutFactoryParametersTest.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/layout/PositionVoltageLevelLayoutFactoryTest.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/raw/TestCase2.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/raw/TestCaseShuntArrangement.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/raw/TestOrderConsistency.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/raw/TestSerialBlocksInternCells.java
Labels: Breaking change

#570 [NAD] Add max steps to layout parameters
  network-area-diagram/src/main/java/com/powsybl/nad/layout/BasicForceLayout.java
  network-area-diagram/src/main/java/com/powsybl/nad/layout/LayoutParameters.java
  network-area-diagram/src/test/java/com/powsybl/nad/layout/LayoutParametersTest.java
Labels: NAD

#571 [SLD] Add label on all nodes if requested
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/svg/AbstractLabelProvider.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/svg/SvgParameters.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/iidm/TestCase1.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/svg/SvgParametersTest.java
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase1_connectivityLabels.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase1_equipmentLabels.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestSldClassSubstationMetadata.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestSldClassVlMetadata.json
  single-line-diagram/single-line-diagram-core/src/test/resources/substDiag_metadata.json
  single-line-diagram/single-line-diagram-core/src/test/resources/substDiag_with_hvdc_line_metadata.json
  single-line-diagram/single-line-diagram-core/src/test/resources/vlDiag_metadata.json
Labels: Feature, SLD

#573 Detect inconsistent busNodes positions
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/layout/LegBusSet.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/layout/Subsection.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/layout/positionbyclustering/PositionByClustering.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/iidm/TestCaseExternCellOnTwoSections.java
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCaseExternCellOnTwoSections.svg
Labels: bug, SLD
