Repository powsybl/powsybl-diagram, pull requests merged in 2023-01, with the labels that each got.

#458 Add metadata for 3wt edges and nodes
  network-area-diagram/src/main/java/com/powsybl/nad/model/Graph.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/SvgWriter.java
  network-area-diagram/src/test/resources/3wt.svg
  network-area-diagram/src/test/resources/3wt_disconnected.svg
  network-area-diagram/src/test/resources/3wt_disconnected_topological.svg
  network-area-diagram/src/test/resources/3wt_partial.svg
  network-area-diagram/src/test/resources/edge_info_double_labels.svg
Labels: NAD

#459 add glued class to half edge drawings
  network-area-diagram/src/main/java/com/powsybl/nad/svg/SvgWriter.java
  network-area-diagram/src/test/resources/IEEE_118_bus.svg
  network-area-diagram/src/test/resources/IEEE_118_bus_partial.svg
  network-area-diagram/src/test/resources/IEEE_118_bus_partial_non_connected.svg
  network-area-diagram/src/test/resources/IEEE_14_bus.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_disconnection.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_fictitious.svg
  network-area-diagram/src/test/resources/IEEE_14_bus_text_nodes.svg
  network-area-diagram/src/test/resources/IEEE_14_id_prefixed.svg
  network-area-diagram/src/test/resources/IEEE_24_bus.svg
  network-area-diagram/src/test/resources/IEEE_30_bus.svg
  network-area-diagram/src/test/resources/IEEE_57_bus.svg
  network-area-diagram/src/test/resources/current_limits.svg
  network-area-diagram/src/test/resources/detailed_text_node.svg
  network-area-diagram/src/test/resources/detailed_text_node_no_legend.svg
  network-area-diagram/src/test/resources/diamond-spring-repulsion-factor-0.0.svg
  network-area-diagram/src/test/resources/diamond-spring-repulsion-factor-0.2.svg
  network-area-diagram/src/test/resources/edge_info_missing_label.svg
  network-area-diagram/src/test/resources/edge_info_perpendicular_label.svg
  network-area-diagram/src/test/resources/edge_info_shift.svg
  network-area-diagram/src/test/resources/hvdc-vl-depth-1.svg
  network-area-diagram/src/test/resources/hvdc.svg
  network-area-diagram/src/test/resources/parallel_transformers.svg
  network-area-diagram/src/test/resources/simple-eu-loop100.svg
  network-area-diagram/src/test/resources/simple-eu-loop80.svg
  network-area-diagram/src/test/resources/simple-eu.svg
  network-area-diagram/src/test/resources/vl_description_id.svg
  network-area-diagram/src/test/resources/vl_description_substation.svg
  network-area-diagram/src/test/resources/vl_description_substation_id.svg
  network-area-diagram/src/test/resources/voltage_limits.svg
Labels: NAD

#478 [SLD] Use cheese external component in unit test
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/raw/TestAddExternalComponent.java
  single-line-diagram/single-line-diagram-core/src/test/resources/CheeseLibrary/cheese.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/CheeseLibrary/components.css
  single-line-diagram/single-line-diagram-core/src/test/resources/CheeseLibrary/components.json
  single-line-diagram/single-line-diagram-core/src/test/resources/PacmanLibrary/pacman.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCheese.svg
Labels: PR: next-release, SLD

#462 Use min value instead of average value to order bus cells
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/layout/positionfromextension/PositionFromExtension.java
Labels: SLD

#481 [NAD] Fix blink animation
  network-area-diagram/src/main/resources/topologicalStyle.css
  network-area-diagram/src/test/resources/3wt_disconnected_topological.svg
  network-area-diagram/src/test/resources/IEEE_118_bus.svg
  network-area-diagram/src/test/resources/IEEE_118_bus_partial.svg
  network-area-diagram/src/test/resources/IEEE_118_bus_partial_non_connected.svg
  network-area-diagram/src/test/resources/IEEE_57_bus.svg
  network-area-diagram/src/test/resources/detailed_text_node.svg
  network-area-diagram/src/test/resources/detailed_text_node_no_legend.svg
  network-area-diagram/src/test/resources/simple-eu-loop100.svg
  network-area-diagram/src/test/resources/simple-eu-loop80.svg
  network-area-diagram/src/test/resources/simple-eu.svg
  network-area-diagram/src/test/resources/vl_description_id.svg
  network-area-diagram/src/test/resources/vl_description_substation.svg
  network-area-diagram/src/test/resources/vl_description_substation_id.svg
Labels: PR: next-release, NAD

#480 Fix Sonar Issues
  network-area-diagram/src/main/java/com/powsybl/nad/layout/AbstractLayout.java
  network-area-diagram/src/main/java/com/powsybl/nad/svg/DefaultEdgeRendering.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/AbstractCouplingDeviceDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/AbstractDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/AbstractInjectionDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/AbstractLineDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/AbstractNodeDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/BusDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/BusbarDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/CgmesDLExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/DanglingLineDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/GeneratorDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/HvdcLineDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/LineDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/LoadDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/ShuntDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/SvcDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/SwitchDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/Transformer3WDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/TransformerDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/VoltageLevelDiagramDataExporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/importers/AbstractCouplingDeviceDiagramDataImporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/importers/AbstractInjectionDiagramDataImporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/importers/BusDiagramDataImporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/importers/BusbarDiagramDataImporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/importers/GeneratorDiagramDataImporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/importers/LoadDiagramDataImporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/importers/ShuntDiagramDataImporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/importers/SvcDiagramDataImporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/importers/SwitchDiagramDataImporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-conversion/src/main/java/com/powsybl/sld/cgmes/dl/conversion/importers/TransformerDiagramDataImporter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-iidm-extensions/src/main/java/com/powsybl/sld/cgmes/dl/iidm/extensions/LineDiagramData.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-iidm-extensions/src/test/java/com/powsybl/sld/cgmes/dl/iidm/extensions/LineDiagramDataTest.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-dl-iidm-extensions/src/test/java/com/powsybl/sld/cgmes/dl/iidm/extensions/VoltageLevelDiagramDataTest.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-layout/src/main/java/com/powsybl/sld/cgmes/layout/AbstractCgmesLayout.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-layout/src/main/java/com/powsybl/sld/cgmes/layout/CgmesVoltageLevelLayoutFactorySmartSelector.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-layout/src/main/java/com/powsybl/sld/cgmes/layout/LayoutToCgmesDlExporterTool.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-layout/src/main/java/com/powsybl/sld/cgmes/layout/LayoutToCgmesExtensionsConverter.java
  single-line-diagram/single-line-diagram-cgmes/single-line-diagram-cgmes-layout/src/test/java/com/powsybl/sld/cgmes/layout/LayoutToCgmesExtensionsTest.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/layout/AbstractLayout.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/layout/ImplicitCellDetector.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/layout/Subsection.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/layout/positionbyclustering/PositionByClustering.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/library/Components.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/model/cells/AbstractCell.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/svg/BasicStyleProvider.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/svg/DefaultDiagramLabelProvider.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/util/AbstractBaseVoltageDiagramStyleProvider.java
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/util/TopologicalStyleProvider.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/AbstractTestCase.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/iidm/TestCase11SubstationGraph.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/iidm/TestCase12GraphWith3WT.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/iidm/TestSingleLineDiagramClass.java
Labels: PR: waiting-for-review

#486 get number of voltage levels in nad diagram
  network-area-diagram/src/main/java/com/powsybl/nad/build/iidm/VoltageLevelFilter.java
  network-area-diagram/src/test/java/com/powsybl/nad/layout/LayoutWithInitialPositionsTest.java
Labels: question
