Repository powsybl/powsybl-diagram, pull requests merged in 2023-07, with the labels that each got.

#529 Fix line connection highlight
  single-line-diagram/single-line-diagram-core/src/main/resources/highlightLineStates.css
  single-line-diagram/single-line-diagram-core/src/test/resources/InternalBranchesNodeBreaker.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/NodeDecoratorsBranchStatusBusBreaker.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/NodeDecoratorsBranchStatusNodeBreaker.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/NodeDecoratorsSwitches.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestBatteries.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHFirst.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHLast.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHMiddle.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHNone.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCaseFictitiousBus.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCaseKeepFictitiousSwitchNode.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCaseRemoveFictitiousSwitchNode.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestComplexParallelLegsInternalPst.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestFormattingFeederInfos.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestSldClassSubstation.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestSldClassVl.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestUnknownLibrary.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/consecutive_shunts.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/feederInfoTest.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/noComponentsOnBus.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/nominal_voltage_style_substation.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/nominal_voltage_style_vl2.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/nominal_voltage_style_vl3.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/switchesOnBus.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/topological_style_substation.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/with_frame_background.svg
Labels: Breaking change

#535 Warn user when trying to use voltagelevel from another substation
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/builders/SubstationRawBuilder.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/raw/TestCase11SubstationGraph.java
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHRaw.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHRaw2.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHRaw2With2wts.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHRaw2With3wts.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphHRaw2WithLines.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphVRaw.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphVRaw2.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphVRaw2With2wts.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphVRaw2With3wts.json
  single-line-diagram/single-line-diagram-core/src/test/resources/TestCase11SubstationGraphVRaw2WithLines.json
Labels: PR: waiting-for-review, SLD

#528 Update to Java 17
  .github/workflows/maven.yml
  pom.xml
  single-line-diagram/single-line-diagram-core/src/test/resources/TestFormattingFeederInfos.svg
Labels: Breaking change

#540 536 viewbox incorrectly specified in some cases depending on the direction of a line between two voltage levels
  single-line-diagram/single-line-diagram-core/src/main/java/com/powsybl/sld/layout/HorizontalSubstationLayout.java
  single-line-diagram/single-line-diagram-core/src/test/java/com/powsybl/sld/iidm/TestViewBox.java
  single-line-diagram/single-line-diagram-core/src/test/resources/TestViewBoxBB.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestViewBoxBT.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestViewBoxTB.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/TestViewBoxTT.svg
  single-line-diagram/single-line-diagram-core/src/test/resources/network_common_methods_createLine_BB.xiidm
  single-line-diagram/single-line-diagram-core/src/test/resources/network_common_methods_createLine_BT.xiidm
  single-line-diagram/single-line-diagram-core/src/test/resources/network_common_methods_createLine_TB.xiidm
  single-line-diagram/single-line-diagram-core/src/test/resources/network_common_methods_createLine_TT.xiidm
Labels: bug, SLD
